<!DOCTYPE html>
<html lang="en" xmlns:th=”http://www.thymeleaf.org”>

<head>

</head>
<body>
<header th:fragment="header" class="masthead" style="background-image: url('..//img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1 th:text="${title}"> TITLE </h1>
                    <span class="subheading" th:text="${subtitle}"> SUBTITLE </span>
                </div>
            </div>
        </div>
    </div>
</header>
</body>
</html>