<!DOCTYPE html>
<html lang="en" xmlns:th=”http://www.thymeleaf.org”>

<!--znajduje się w fragments/head.html -> znacznik head-->
<head th:replace="fragments/head.html :: head"></head>

<body>
<!--navigation-->
<nav th:replace="fragments/navigation.html :: nav"></nav>

<!-- Page Header -->
<header th:replace="fragments/header.html :: header(title='Leszek\'s Blog', subtitle='The worst blog in the World')"></header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <h1>Add post form</h1>
            <form th:action="@{/addPost}" th:method="POST" th:object="${post}">
                <div class="form-group">
                    <input class="form-control" th:type="text" th:field="*{title}" placeholder="insert title here"><br>
                    <select class="form-control" th:field="*{category}">
                        <option th:each="cat : ${categories}" th:value="${cat}"
                                th:text="${cat.getCategoryName()}"></option>
                    </select><br>
                    <textarea class="form-control" th:field="*{content}"
                              placeholder="insert content here"></textarea><br>
                    <input class="btn btn-success btn-rounded" th:type="submit" th:value="'add post'">
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Footer -->
<footer th:replace="fragments/footer.html :: footer"></footer>

<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="js/clean-blog.min.js"></script>

</body>

</html>