<!DOCTYPE html>
<html lang="en" xmlns:th=”http://www.thymeleaf.org”>

<!--znajduje się w fragments/head.html -> znacznik head-->
<head th:replace="fragments/head.html :: head"></head>

<body>
<!--navigation-->
<nav th:replace="fragments/navigation.html :: nav"></nav>

<!-- Page Header -->
<header th:replace="fragments/header.html :: header(title='Leszek\'s Blog', subtitle='The worst blog in the World')"></header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <!--sortowanie -->
            <h3>Sorting</h3>
            <div class="clearfix">
                <a th:text="'DATE DESC'" th:href="@{'/page='+${pageIndex}+'&dateAdded&DESC'}" type="button" class="btn btn-outline-secondary waves-effect px-3"></a>
                <a th:text="'DATE ASC'" th:href="@{'/page='+${pageIndex}+'&dateAdded&ASC'}" type="button" class="btn btn-outline-secondary waves-effect px-3"></a>
                <a th:text="'GRADES DESC'" th:href="@{'/page='+${pageIndex}+'&result&DESC'}" type="button" class="btn btn-outline-secondary waves-effect px-3"></a>
                <a th:text="'GRADES ASC'" th:href="@{'/page='+${pageIndex}+'&result&ASC'}" type="button" class="btn btn-outline-secondary waves-effect px-3"></a>
            </div>
            <h3>Posts</h3>
            <!--sortowanie -->
            <div th:if="${errorMessage != null}" th:text="${errorMessage}"
                 style="font-size:14px" class="alert alert-danger" role="alert"> error
            </div>

            <div class="post-preview" th:each="post : ${posts}">
                <a th:href="@{'/posts&' + ${post.getPostId()}}">
                    <h2 class="post-title" th:text="${post.getTitle().toUpperCase()}"> post title </h2>
                </a>
                <p class="post-meta" th:text="'Author: ' + ${post.getAuthor().getEmail()} +
          ' Category: ' + ${post.getCategory().getCategoryName().toUpperCase()} +
          ' Date: ' + ${#temporals.format(post.getDateAdded(), 'dd-MM-yyyy HH:mm')}"> author category dateAdded </p>
                <div class="clearfix" th:if="${auth != null}">
                    <a th:if="${!auth.getUsername().equals(post.getAuthor().getEmail())}"
                       class="fa fa-thumbs-up"
                       th:href="@{'/addLike&'+${pageIndex}+'&'+${post.getPostId()}}"
                       th:text="${post.getLikes().size()}"> likes
                    </a>
                    <a th:if="${!auth.getUsername().equals(post.getAuthor().getEmail())}"
                       class="fa fa-thumbs-down"
                       th:href="@{'/addDislike&'+${pageIndex}+'&'+${post.getPostId()}}"
                       th:text="${post.getDislikes().size()}"> dislikes
                    </a>
                    <a th:if="${auth.getAuthorities().toString().toUpperCase().contains('ADMIN') ||
                        auth.getUsername().equals(post.getAuthor().getEmail())}"
                       class="fa fa-trash" aria-hidden="true" th:href="@{'/deletePost&'+${post.getPostId()}}">delete</a>
                    <a th:if="${auth.getAuthorities().toString().toUpperCase().contains('ADMIN') ||
                        auth.getUsername().equals(post.getAuthor().getEmail())}"
                       class="fas fa-edit" aria-hidden="true" th:href="@{'/editPost&'+${post.getPostId()}}">edit</a>
                    <a th:text="${'RESULT ' + (post.getLikes().size() - post.getDislikes().size())}"> GRADE </a>
                    <div th:each="follower : ${post.getLikes()}">
                        <a th:if="${follower.getEmail().equals(auth.getUsername())}"  th:text="'LIKED!'"></a>
                    </div>
                    <div th:each="hater : ${post.getDislikes()}">
                        <a th:if="${hater.getEmail().equals(auth.getUsername())}"  th:text="'HATED!'"></a>
                    </div>
                </div>
                <hr>
            </div>
            <!-- Pager -->
            <div class="clearfix">
                <a th:each="index : ${pagesIndexes}"
                   th:if="${pageIndex == index}"
                   th:text="${index}"
                   th:href="@{'/page='+${index}+'&'+${field}+'&'+${sortDirection}}"

                   type="button"
                   class="btn btn-outline-secondary waves-effect px-3"></a>
                <a th:each="index : ${pagesIndexes}"
                   th:if="${pageIndex != index}"
                   th:text="${index}"
                   th:href="@{'/page='+${index}+'&'+${field}+'&'+${sortDirection}}"
                   type="button"
                   class="btn btn-outline-warning waves-effect px-3"></a>
            </div>
        </div>
    </div>
</div>

<hr>

<!-- Footer -->
<footer th:replace="fragments/footer.html :: footer"></footer>

<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="js/clean-blog.min.js"></script>

</body>

</html>