<!DOCTYPE html>
<html lang="en" xmlns:th=”http://www.thymeleaf.org”>

<!--znajduje się w fragments/head.html -> znacznik head-->
<head th:replace="fragments/head.html :: head"></head>

<body>
<!--navigation-->
<nav th:replace="fragments/navigation.html :: nav"></nav>

<!-- Page Header -->
<header th:replace="fragments/header.html :: header(title='Michael\'s Blog', subtitle='The best blog in the World')"></header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div th:if="${errorMessage != null}" th:text="${errorMessage}"
                 style="font-size:14px" class="alert alert-danger" role="alert"> error </div>
            <div class="post-preview" th:each="post : ${posts}">
                <a th:href="@{'/posts&' + ${post.getPostId()}}">
                    <h2 class="post-title" th:text="${post.getTitle().toUpperCase()}"> post title </h2>
                </a>
                <p class="post-meta" th:text="'Author: ' + ${post.getAuthor().getEmail()} +
          ' Category: ' + ${post.getCategory().getCategoryName().toUpperCase()} +
          ' Date: ' + ${#temporals.format(post.getDateAdded(), 'dd-MM-yyyy HH:mm')}"> author category dateAdded </p>
                <div class="clearfix" th:if="${auth != null}">
                    <a th:if="${auth.getAuthorities().toString().toUpperCase().contains('ADMIN') ||
              auth.getUsername().equals(post.getAuthor().getEmail())}"
                       class="fa fa-trash" aria-hidden="true" th:href="@{'/deletePost&'+${post.getPostId()}}">delete</a>
                    <a th:if="${auth.getAuthorities().toString().toUpperCase().contains('ADMIN') ||
              auth.getUsername().equals(post.getAuthor().getEmail())}"
                       class="fas fa-edit" aria-hidden="true" th:href="@{'/editPost&'+${post.getPostId()}}">edit</a>
                </div>
                <hr>
            </div>
            <!-- Pager -->
            <div class="clearfix">
                <!--<a class="fas fa-plus" href="#"> older posts</a>-->
                <a type="button" class="btn btn-outline-warning waves-effect px-3">
                    <i class="fas fa-rocket" aria-hidden="true"></i> older posts</a>
            </div>
        </div>
    </div>
</div>

<hr>

<!-- Footer -->
<footer th:replace="fragments/footer.html :: footer"></footer>

<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="js/clean-blog.min.js"></script>

</body>

</html>