<!DOCTYPE html>
<html lang="en" xmlns:th=”http://www.thymeleaf.org”>

<!--znajduje się w fragments/head.html -> znacznik head-->
<head th:replace="fragments/head.html :: head"></head>

<body>
<!--navigation-->
<nav th:replace="fragments/navigation.html :: nav"></nav>

<!-- Page Header -->
<header th:replace="fragments/header.html :: header(title='Leszek\'s Blog', subtitle='The worst blog in the World')"></header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-preview" th:each="post : ${posts}">
                <a th:href="@{'/posts&' + ${post.getPostId()}}">
                    <h2 class="post-title" th:text="${post.getTitle().toUpperCase()}"> post title </h2>
                </a>
                <p class="post-meta" th:text="'Author: ' + ${post.getAuthor().getEmail()} +
          ' Category: ' + ${post.getCategory()} +
          ' Date: ' + ${#temporals.format(post.getDateAdded(), 'dd-MM-yyyy HH:mm')}"> author category dateAdded </p>
                <hr>
            </div>
            <!-- Pager -->
            <div class="clearfix">
                <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
            </div>
        </div>
    </div>
</div>

<hr>

<!-- Footer -->
<footer th:replace="fragments/footer.html :: footer"></footer>

<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="js/clean-blog.min.js"></script>

</body>

</html>