<!DOCTYPE html>
<html lang="en" xmlns:th=”http://www.thymeleaf.org”>

<!--znajduje się w fragments/head.html -> znacznik head-->
<head th:replace="fragments/head.html :: head"></head>

<body>
<!--navigation-->
<nav th:replace="fragments/navigation.html :: nav"></nav>

<!-- Page Header -->
<header th:replace="fragments/header.html :: header(title='Michael\'s Blog', subtitle='The best blog in the World')"></header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto" th:if="${post != null}">
            <h1 th:text="${post.getTitle()}"></h1>
        </div>
        <div class="col-lg-8 col-md-10 mx-auto" th:if="${post == null}">
            <h1 th:text="'Bad request'"></h1>
        </div>
    </div>
</div>

<!-- Footer -->
<footer th:replace="fragments/footer.html :: footer"></footer>

<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="js/clean-blog.min.js"></script>

</body>

</html>